html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

main {
	flex-grow: 1;
  	padding-top: 3%;
	padding-bottom: 5%;
}

footer {
  	flex-shrink: 0;
}

.list-group {
	padding-bottom: 2%;
}

#main-index-html {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	border-radius: 5px;
}

.text-group-show {
	padding-top: 1%;
	padding-bottom: 1%;
}

a {
	text-decoration: none;
	color: black;
}

.card {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
	margin-left: 1px;
	margin-right: 1px;
}
