{% extends 'finds/base.html' %}

{% block content %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p class="fw-bolder fs-4">Вконтакте</p>
            <a href="https://vk.com/id240730961/">Тагир Китаев</a>
        </li>
        <li class="list-group-item">
            <p class="fw-bolder fs-4">Телеграм</p>
            <a href="https://t.me/sueta1995/">sueta1995</a>
        </li>
        <li class="list-group-item">
            <p class="fw-bolder fs-4">GitHub</p>
            <a href="https://github.com/sueta1995/">sueta1995</a>
        </li>
        <li class="list-group-item">
            <p class="fw-bolder fs-4">Discord</p>
            <a href="https://discordapp.com/users/405053046167699467/">sueta1995#1679</a>
        </li>
    </ul>
{% endblock %}
