{% extends 'finds/base.html' %}

{% block content %}
    {% if specie is None and user.is_authenticated %}
        <h1 class="display-6 mb-3">Загрузите свою находку</h1>

        <form action="{% url 'finds_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
                <div class="form-group mb-3">
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                    {{ f }}
                    <div class="form-error">{{ f.errors }}</div>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-dark">Добавить</button>
        </form>

        <div class="pb-5"></div>
    {% endif %}

    {% comment %} <h1 class="display-6 mb-3"> {% endcomment %}
    {% if specie is None %}
        <h1 class="display-6 mb-3">Последние находки</h1>
    {% else %}
        <h1 class="display-6 mb-3">Находки по виду {{ specie }}</h1>

        <script>
            ymaps.ready(main);
    
            function main() {
                var map = new ymaps.Map("map", {
                    center: [55.76, 37.64],
                    zoom: 10
                }, {
                    searchControlProvider: 'yandex#search'
                }),
                objectManager = new ymaps.ObjectManager({
                    // Чтобы метки начали кластеризоваться, выставляем опцию.
                    clusterize: true,
                    // ObjectManager принимает те же опции, что и кластеризатор.
                    gridSize: 32,
                    clusterDisableClickZoom: true
                }),
                id = 0;
                
                {% for find in finds %}

                    objectManager.add({
                        type: 'Feature',
                        id: id++,
                        geometry: {
                            type: 'Point',
                            coordinates: [{{ find.latitude}}, {{ find.longitude }}]
                        },
                        properties: {
                            hintContent: 'Находка от {{ find.user }} в {{ find.time_create }}',
                            balloonContent: '<p>{{ find.dragonfly.specific_name }}</p> <img src="{{ find.photo.url }}" class="img-fluid rounded">'
                        }
                    });
                    
                {% endfor %}
    
                // Чтобы задать опции одиночным объектам и кластерам,
                // обратимся к дочерним коллекциям ObjectManager.
                objectManager.objects.options.set('preset', 'islands#greenIcon');
                objectManager.clusters.options.set('preset', 'islands#greenClusterIcons');
                map.geoObjects.add(objectManager);
            }
        </script>
    
        <div id="map"></div>
    {% endif %}

    {% if finds %}
        {% for find in finds %}

            <div class="card mb-3 mt-5">
                <div class="row g-4">
                    <div class="col-md-4">
                        <img src="{{ find.photo.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ find.dragonfly.specific_name }}</h5>
                            <p class="card-text">{{ find.comment }}</p>
                            <p class="card-text"><small class="text-muted">Создано пользователем {{ find.user }} в {{ find.time_create }}</small></p>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    {% else %}
        <p>Находок пока что нет!</p>
    {% endif %}

{% endblock %}
