{% extends 'finds/base.html' %}

{% block content %}
    {% if specie is None and user.is_authenticated %}
        <h1 class="display-6 mb-3">Загрузите свою находку</h1>

        <form action="{% url 'finds_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
                <div class="form-group mb-3">
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                    {{ f }}
                    <div class="form-error">{{ f.errors }}</div>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-dark">Добавить</button>
        </form>

        <div class="pb-5"></div>
    {% endif %}

    <h1 class="display-6 mb-3">
        {% if specie is None %}
            Последние находки
        {% else %}
            Находки по виду {{ specie }}
        {% endif %}
    </h1>

    {% if finds %}
        {% for find in finds %}

            <div class="card mb-3">
                <div class="row g-4">
                    <div class="col-md-4">
                        <img src="{{ find.photo.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ find.dragonfly.specific_name }}</h5>
                            <p class="card-text">{{ find.comment }}</p>
                            <p class="card-text"><small class="text-muted">Создано пользователем {{ find.user }} в {{ find.time_create }}</small></p>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    {% else %}
        <p>Находок пока что нет!</p>
    {% endif %}

{% endblock %}
