{% extends 'finds/base.html' %}

{% load static %}
{% load finds_tags %}

<link rel="stylesheet" href="{% static 'finds/style.css' %}">

{% block content %}
    <h1 class="display-6 mb-5">Добавленные виды стрекоз</h1>

    {% get_dragonflies as dragonflies %}

    {% if dragonflies %}
        <div class="row row-cols-1 row-cols-xl-6 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-4">

            {% for dragonfly in dragonflies %}

                <div class="col">
                    <div class="card h-100" href={{ dragonfly.get_absolute_url }}>
                        <img src="{% static 'finds' %}/{{ dragonfly.specific_name }}/1.jpg" class="card-img-top" alt="{{ dragonfly.specific_name }}" />
                        <div class="card-body">
                            <p class="card-text"><h5>{{ dragonfly.specific_name }}</h5>{{ dragonfly.common_name }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    {% else %}
        <p>Пока что никто ничего не находил ;(</p>
    {% endif %}

{% endblock %}
